@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
iframe {
  border-radius: 15px;
}
.App {
  width: 100vw;
  height: 100vh;
  background: #023047;
  color: #fb8500;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
body {
  margin: 0%;
  padding: 0%;
}

.joinChatContainer {
  padding-left: 40%;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #ffb703;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
  background: #ffb703;
  color: #023047;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #fb8500;
}
